:root {
    --neutral-bg: ##f4f0ec;
    --lightgreen: #E7E5DF;
    --greenish: #dad8cd;
}
*{
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-bg);
}

main {
    min-height:calc(100vh - 220px);
}

/* Custom font & styles for headings */
@font-face {
    font-family: 'Wremena';
    src: url(/assets/fonts/WremenaRegular.woff) format("woff");
}

h1, h2, h3, h4 {
    font-family: 'Wremena', Arial, san-serif;
}

h1 {
    text-align: center;
    font-size: 8vw;
    padding: .2em 0;
    
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 1.68vw;
}

/* Custom font for body */
p, a, caption {
    font-family: 'Inter', sans-serif;
}

/* Site Header */
.header {
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    background-color:var(--lightgreen); 
}

/* Nav menu */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding: .68vh 0;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    transition: .5s ease;
}

li a {
    color: black;
    text-decoration: none;

}

li:hover {
    background-color: var(--greenish);
}

li:first-child {
    border-left:none;
}


/* Banner Section */
.banner {
    height: 30vh;
    width: 100%;
    position: relative;
    background-image: url(/assets/images/banner-image.jpg);
    background-size: cover;
    background-position: 50% 30%;
    border-bottom:1px solid black;
    padding:0;
}

/* Styling All Articles (About, Work, Contact) */
article {
    display: flex;
    border-bottom: 1px solid black;
}

/* Styling Article Headings */
.title {
    border: 1px solid blue;
    width: 25vw;
    display:flex;
    justify-content:center;
    align-items: center;
}

/* Styling Sections within Articles */
section {
    padding: 2vw;
    width: 75vw;
    border-left: 1px solid black;
}

#contact section {
    display:flex;
    justify-content: space-around;
}

/* Individual Projects */
#projects {
    display: flex;
}

/* Site Footer */
footer {
    text-align:center;
    padding: 1em 0;
    background-color:var(--greenish);
    font-size: 1vw;
}