/* GLOBAL STYLES */
:root {
    --neutral-bg: ##f4f0ec;
    --lightgreen: #E7E5DF;
    --greenish: #dad8cd;
}
*{
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-bg);
}

main {
    min-height:calc(100vh - 220px);
}

/* CUSTOM FONTS */
@font-face {
    font-family: 'Wremena';
    src: url(/assets/fonts/WremenaRegular.woff) format("woff");
}

/* HEADING FONT STYLES */
h1, h2, h3 {
    font-family: 'Wremena', Times, serif;
}

h1 {
    text-align: center;
    font-size: 8vw;
    padding: .2em 0;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 1.68vw;
}

/* BODY FONT STYLES */
h4, p, a, caption {
    font-family: 'Inter', sans-serif;
}

/* HEADER */
.header {
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    background-color:var(--lightgreen); 
}

/* NAV MENU */
/* Unordered list layout */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* List item styles */
li {
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding: .68vh 0;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    transition: .5s ease;
}

li:hover {
    background-color: var(--greenish);
}

li:first-child {
    border-left:none;
}

/* List item link styles */
li a {
    color: black;
    text-decoration: none;

}

/* MAIN SECTION */
/* BANNER */
.banner {
    height: 30vh;
    width: 100%;
    position: relative;
    background-image: url(/assets/images/banner-image.jpg);
    background-size: cover;
    background-position: 50% 30%;
    border-bottom:1px solid black;
    padding:0;
    display: flex;
    align-items:center;
}

h4 {
    font-size: 3vw;
    padding-left: 2.34vw;
}


/* ARTICLES (About, Work, Contact) */
article {
    display: flex;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

/* WORK SECTION */
/* Styling article titles */
.title {
    width: 25vw;
    display:flex;
    justify-content:center;
    align-items: center;
}

/* Styling the "sections" within articles (this is the content on right) */
section {
    padding: 3vw;
    width: 75vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* Projects */
#projects {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Styles for project titles and info */
.project-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 1%;
    position: absolute;
    bottom: 0;
}

/* Styles for Project 01 */
#project-one {
    border: 1px solid black;
    background-image:url(/assets/images/project-01.gif);
    background-size: cover;
    flex:1 0 450px;
    margin-bottom: 2vw;
    position: relative;
}

/* Styles for the rows containing projects 1 & 2 */
.double {
    display: flex;
    flex-direction: row;
    height: 30vh;
    position: relative;
}

/* Styles for project 2 */
#project-two{
    flex: 1;
    margin-right: 1vw;
    background-image: url(/assets/images/project-02.gif);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    position: relative;
}

/* Styles for project 3 */
#project-three {
    flex: 1;
    margin-left: 1vw;
    background-image: url(/assets/images/project-03.gif);
    background-size: cover;
    background-position:bottom left;
    background-repeat: no-repeat;
    border: 1px solid black;
    position: relative;
}

/* CONTACT SECTION */
/* Arranging contact items */
#contact section {
    display:flex;
    justify-content: space-around;
}

#contact a {
    color: black;
    text-decoration: none;
    transition: .5s ease;
}

#contact a:hover {
    color: green;
}

/* FOOTER */
footer {
    text-align:center;
    padding: 1em 0;
    background-color:var(--greenish);
    font-size: 1vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* MOBILE STYLES */
@media screen and (max-width:767px) {
    /* Main heading font */
    h1 {
        font-size: 40px;
    }
    /* Article titles */
    h2 {
        font-size: 24px;
        text-align: center;
    }
    /* Banner copy */
    h4 {
        font-size: 18px;
        padding-top: 15px;
        padding-left: 10px;
    }
    /* Banner */
    .banner {
        border-left: 1px solid black;
        border-right: 1px solid black;
        align-items: flex-start;
    }
    /* Changing direction of main content */
    article {
        flex-direction: column;
        border-right: 1px solid black;
    }
    /* Editing main section spacing and borders */
    .title {
        width: auto;
        padding-top: 10px;
    }
    section {
        width: auto;
        border-right: none;
        border-left: none;
        padding-bottom: 10px;
    }
    /* Centering about body copy */
    #about p {
        text-align: center;
        padding-bottom: 10px;
    }
    /* Changing flex properties, size, and spacing of projects 2 & 3 */
    .double {
        flex-direction: column;
    }
    #project-two {
        margin-right: 0;
    }
    #project-three {
        margin-top: 10px;
        margin-left: 0;
    }

    /* Project info edits */
    .project-info h3 {
        font-size: 18px;
    }
    .project-info p {
        font-size: 12px;
    }

    /* Changing flex direction of contact section */
    #contact section {
        flex-direction: column;
        text-align: center;
    }
    #contact section a {
        margin-top: 5px;
    }
    /* Footer copy */
    footer {
        font-size: 16px;
    }
}