:root {
    --neutral-bg: #e7e5df;
    --greenish: #dad8cd;
}
body {
    background-color: var(--neutral-bg);
}

/* Custom font & styles for headings */
@font-face {
    font-family: 'Wremena';
    src: url(/assets/fonts/WremenaRegular.woff) format("woff");
}

h1, h2, h3, h4 {
    font-family: 'Wremena', Arial, san-serif;
}

h1 {
    text-align: center;
    font-size: 8vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 1vw;
}

/* Custom font for paragraph */
p, a, caption {
    font-family: 'Inter', sans-serif;
}

/* Site Header */
header {
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}

/* Nav menu */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    transition: .5s ease;
}

li a {
    color: black;
    text-decoration: none;
}

li:hover {
    background-color: var(--greenish);
}

li:first-child {
    border-left:none;
}

article {
    display: flex;
}

article h2 {
    position: sticky;
    border: 1px solid blue;
    width: 30%;
}